* {
  margin: 0;
  padding: 0;
}

.app {
  background-color: #fafafa;
  display: flex;
  align-items: center;
  flex-direction: column;

}


.app__header {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: white;
  width: 100%;
  object-fit: contain;
  padding: 18px 0px;
  border-bottom: 1px solid lightgrey;
  margin-bottom: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app_header__container {
  display: flex;
  justify-content: space-between;
  max-width: 810px;
  width: 100%;
  margin: 0px 20px;
  align-items: center;

}

.app__headerImage {
  margin-top: 5px;
  width: 160px;
}

.app__signup {
  display: flex;
  flex-direction: column;
  max-width: 100%;

}


.app__signup Button {
  margin-top: 25px;
}

.login__info {
  position: sticky;
  top: 120px;
  z-index: 0;
  text-align: center;
  padding: 10px 20px 40px;
  margin-left: 40px;
  width: 100%;
  max-width: 210px;
  background-color: #fff;
  border: 1px solid lightgray;
}

.app__posts {
  display: flex;
  justify-content: space-between;
  max-width: 800px;
  width: 100%;
  /* margin: 0px 20px; */
  /* align-items: center; */
}


.post__right {
  display: flex;
  max-width: 100%;
  /* margin-right: 20px; */
  margin-bottom: 40px;
  justify-content: center;
  align-items: flex-start;
}


.makeStyles-paper-1 {
  box-sizing: border-box;
  max-width: 90vw;
}

.signIn__error {
  color: red;
  font-size: 12px;
}


@media (max-width: 850px) {
  .app__posts {
    display: flex;
    max-width: 100%;
    flex-direction: column-reverse;
    /* justify-content: center; */
    align-items: center;

  }

  .post__left {
    margin-left: 0px;
    max-width: 100%;
  }

  .post__right {
    margin-right: 0px;
    width: 100%;
    align-items: center;
  }

  .login__info {
    margin-left: 0px;
    width: 100%;
    max-width: 500px;
    padding: 20px 0px;
  }
}